<?xml version="1.0"?>

<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>

	<system.webServer>
		<handlers>
			<add name="ArtistFullFeedHandler" path="artist/full" verb="GET" type="SevenDigital.Api.Feeds.Filtered.FilteredFeedHandler, SevenDigital.Api.Feeds.Filtered"/>
			<add name="ReleaseFullFeedHandler" path="release/full" verb="GET" type="SevenDigital.Api.Feeds.Filtered.FilteredFeedHandler, SevenDigital.Api.Feeds.Filtered"/>
			<add name="TrackFullFeedHandler" path="track/full" verb="GET" type="SevenDigital.Api.Feeds.Filtered.FilteredFeedHandler, SevenDigital.Api.Feeds.Filtered"/>
			<add name="ArtistUpdatesFeedHandler" path="artist/updates" verb="GET" type="SevenDigital.Api.Feeds.Filtered.FilteredFeedHandler, SevenDigital.Api.Feeds.Filtered"/>
			<add name="ReleaseUpdatesFeedHandler" path="release/updates" verb="GET" type="SevenDigital.Api.Feeds.Filtered.FilteredFeedHandler, SevenDigital.Api.Feeds.Filtered"/>
			<add name="TrackUpdatesFeedHandler" path="track/updates" verb="GET" type="SevenDigital.Api.Feeds.Filtered.FilteredFeedHandler, SevenDigital.Api.Feeds.Filtered"/>
		</handlers>
		<httpErrors errorMode="Custom">
			<clear />
		</httpErrors>
	</system.webServer>

</configuration>
